body{
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.logo{
    margin-left: 10px;
}

.screen{
    position: absolute;
    top: 75px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 4;
    opacity: 1;
    background-color: rgb(2, 56, 2);
}

#navbar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.section1{

    position: relative;
    top: 40px;
}


.section1 h1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 60px;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-top: 50px;
    text-shadow: 2px 2px 4px #000000;
}

.section1 h6{
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    font-size: 20px;
    margin-left: 130px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px #000000;
}

.section2 {

    position: relative;
    top: 50px;
    width: 500px;
    height: 310px;
    margin-left: 150px;
    border: 5px solid darkgreen;
}

.spin{
    position: relative;
    left: 180px;
    top: 25px;
}

.footermain{
    position: relative;
    top: 20vh;
}

.amenities{
    text-decoration: none;
}

.about{
    text-align: justify;
}

#loginBtn{

    text-decoration: none;
    color: white;
}

ol{
    margin: 10px;
}

ol li a{
    text-decoration: none;
    color: darkgreen;
}

.sectionSearch h1
{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 60px;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-top: 50px;
    text-shadow: 2px 2px 4px #000000;
}

#searchBar{
    position: relative;
    left: 150px;
    top: 26px;
    width: 500px;
}

.footerDash{
    position: relative;
    top: 15vh;
}

.footerDash{
    position: relative;
    top: 14vh;
}

.sectioncarousel{
    
    position: relative;
    top: 50px;
    width: 500px;
    height: 310px;
    margin-left: 150px;
    border: 5px solid darkgreen;
}

.rooms{
    width: 55%;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.checked {  
    color : rgb(26, 255, 0);  
    font-size : 20px; 

}  
.unchecked {  
    font-size : 20px;  
}  

.font-italic{
    font-style: italic;
}

.maleIcon{
    color: rgb(19, 108, 167);
    font-size:48px;
}

.femaleIcon{
    color: rgb(226, 40, 205);
    font-size:48px;
}

.deco{
    text-decoration: none;
}

.submitBtn{

    position:relative;
    top: 20px;
    left: 170px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.searchTab{

    position: relative;
    left: 350px;
}


.breadcrumb{

    position: relative;
    z-index: 8;
}

.spinLoad{
    width: 100px;
    height: 100px;
    position: relative;
    top: 150px;
    left: 700px;
    z-index: 8;
}

.spinLoad2{
    width: 100px;
    height: 100px;
    position: relative;
    top: 150px;
    left: 700px;
    z-index: 70;
    display: none;
}

.container{
    z-index: 8;
}